footer > div:last-child {
    background-color: darken($primary, 40%);
}
.invalid-feedback {
    position: absolute;
    background: red;
    color: white;
    width: fit-content;
    border-radius: 5px;
    bottom: -27px;
    padding: 10px 0px 5px 0px;
    z-index: 0;
    width: 100%;
    font-size: small;
}
.email {
    z-index: 1;
    width: 100%;
    position: inherit;
}
#feature-ul {
    width: fit-content;
    li a {
        padding: 15px 35px;
    }
    @media (max-width: 768px) {
        width: 100%;
    }
    li {
        @media (max-width: 768px) {
            margin-right: 0px;
            border-bottom: 1px solid gainsboro;
        }
    }
}
footer ul li,
#navbarNav ul li {
    margin-right: 25px;
    &:last-child {
        margin-right: 0;
    }
    @media (max-width: 768px) {
        margin: 0px;
    }
}
