#tarjetas .card {
  $margin: 20px;
  @for $i from 2 through 3 {
    @media (min-width: 768px) {
      &:nth-child(#{$i}) {
        $multiplo: $i - 1;
        margin-top: $margin * $multiplo;
      }
    }
  }
}
