.accordion-button::after {
    background-image: url(../img/icon-arrow.svg);
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url(../img/icon-arrow.svg);
    filter: hue-rotate(134deg);
  }